body {
    background-color: #00558c;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 60%;
    border-collapse: collapse;
}
th {
    padding: 10px;
    color: #000000;
    border: 1px solid black;
}
td {
    color: #000000;
    border: 1px solid black;
    padding: 6px;
}
.container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}
h1 {
    color: #fff;
    background-color: #00558c;
    border: none;
    border-radius: 20px;
    padding: 20px;
    width: 60%;
}
.title {
    background-color: #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}